
.bx{
    margin: auto;
    width: 50vw;
    height: 80vh;
    /* background: darkgray; */
    text-align: center;
    
    padding: 3em;
   
    background: linear-gradient(rgb(100, 214, 161),rgb(95, 162, 201)); 
}
.form{
    width: 70%;
    /* height: 4vh; */
    display: inline-flex;
    flex-direction: column;
    /* padding: 15px 0 0 7em; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* padding-bottom: 2vw; */
    place-items: flex-start;
    /* justify-content: space-evenly; */
}

.bh{
    border-radius: 8px;
    height: 3em;
    width: 34.5vw;
}
.btn{
    border-radius: 10px;
    width: 70%;
    height: 40px;
    background: rgb(114, 179, 54)
}

.footer{
    padding-bottom: 0%;
     background: black;
}
.connect{ 
    border-radius: 20px;
    padding-top: 2%;
    margin-top: 10%;
    /* min-height: 155px; */
    height: 40vh;
    /*background:linear-gradient(to right bottom,rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
);*/

}
.conabout{
    text-align: center;
    font-size: 19px;
    font-family: cursive;
    letter-spacing: 2px;
}
.conimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
/*.conimg{
    box-shadow: 5px 5px 5px ;
    border-top-style: groove;
}*/

.copyright{
    text-align: center;
    font-family: monospace;
}

@media only screen and(max-width:770px){
    body{
        background: black;
    }
    .connect{
        flex-direction: row;
    }
}